<!-- inject:../components/baseHead/baseHeadStart.html -->
<!DOCTYPE html>
<html lang="en">

<head>

    {{ partial "head.html" . }}

    {{ partial "head_custom.html" . }}

</head>

<script src="//instant.page/5.1.0" type="module" integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw"></script>

<body>

	{{ partial "header.html" . }}

	{{ partial "showcase.html" . }}

	{{ partial "about.html" . }}

	{{ partial "education.html" . }}

	{{ partial "experience.html" . }}

	{{ partial "client-and-work.html" . }}

        {{ partial "contact.html" . }}

    {{ partial "base-foot.html" . }}
</body>

</html>
<!-- endinject -->
