<!-- inject:../components/baseHead/baseHeadStart.html -->
<!DOCTYPE html>
<html lang="en">

<head>

    {{ partial "head.html" . }}

    {{ partial "head_custom.html" . }}

</head>

<script src='{{ "js/instantpage-5.1.0.js" | absURL }}' type="module" defer></script>

<body>

	{{ partial "header.html" . }}

	{{ partial "showcase.html" . }}

	{{ partial "about.html" . }}

	{{ partial "education.html" . }}

	{{ partial "experience.html" . }}

	{{ partial "client-and-work.html" . }}

        {{ partial "contact.html" . }}

    {{ partial "base-foot.html" . }}
</body>

</html>
<!-- endinject -->
